@{
    ViewBag.Title = "Nguyễn Phú Nam";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Bài thi giữa kỳ của Nguyễn Phú Nam - Cam kết không đạo văn</h3>

    <address>
        K22CNT3 - Môn lập trình ứng dụng web với công nghệ Asp.Net MVC5
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
        <strong>Cá nhân:</strong> <a href="mailto:nambkvn2004@gmail.com">nambkvn2004@gmail.com</a>
    </address>
</main>