USE [K22CNT3NPN]
GO
/****** Object:  Table [dbo].[npnKhoa]    Script Date: 6/12/2024 10:55:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[npnKhoa](
	[NpnMaKH] [nchar](10) NOT NULL,
	[NpnTenKH] [nvarchar](50) NULL,
	[NpnTrangThai] [bit] NULL,
 CONSTRAINT [PK_npnKhoa] PRIMARY KEY CLUSTERED 
(
	[NpnMaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[npnSinhVien]    Script Date: 6/12/2024 10:55:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[npnSinhVien](
	[NpnMaSV] [nvarchar](50) NOT NULL,
	[NpnHoSV] [nvarchar](50) NULL,
	[NpnTenSV] [nvarchar](50) NULL,
	[NpnNgaySinh] [date] NULL,
	[NpnPhai] [bit] NULL,
	[NpnPhone] [nchar](10) NULL,
	[NpnEmail] [nvarchar](50) NULL,
	[NpnMaKH] [nchar](10) NULL,
 CONSTRAINT [PK_npnSinhVien] PRIMARY KEY CLUSTERED 
(
	[NpnMaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[npnSinhVien]  WITH CHECK ADD  CONSTRAINT [FK_npnSinhVien_npnKhoa] FOREIGN KEY([NpnMaKH])
REFERENCES [dbo].[npnKhoa] ([NpnMaKH])
GO
ALTER TABLE [dbo].[npnSinhVien] CHECK CONSTRAINT [FK_npnSinhVien_npnKhoa]
GO
